<article class="n-card n-card--external n-card--flight n-flight-card" layout="row">
  <div class="n-card__image-holder">
    <img src="/assets/icons/lightning.svg" alt="Bootstrap" class="n-card__image img-responsive" flex="nogrow" />
  </div>


  <div class="n-card__body" layout="row nowrap" xs-layout="row wrap" flex>
    <header class="n-card__title" flex layout>Harry Potter</header>

    <img src="/assets/icons/lightning.svg" alt="Bootstrap"
         class="n-flight-card__action material-icons n-flight-card--fav" flex="nogrow" layout xs-order="2">
  </div>
</article>

<article class="n-card n-card--external n-card--flight n-flight-card" layout="row">
  <div class="n-card__image-holder">
    <img  src="/assets/icons/bootstrap.svg" alt="Bootstrap" class="n-card__image img-responsive" flex="nogrow" />
  </div>

  <div class="n-card__body" layout="row nowrap" xs-layout="row wrap" flex>
    <div class="n-flight-card__flight-schedule" flex="auto" xs-order="1">
      <strong>08:45 - 09:55</strong>
      <sub>Air Berlin</sub>
    </div>

    <div layout="row reversed" xs-layout="column" xs-flex flex="nogrow" layout-align="space-around" xs-order="4">
      <div class="n-flight-card__duration" xs-order="2">
        <strong>1h 10min</strong>
        <sub class="hidden-xs">MUn-BER</sub>
      </div>

      <div class="n-flight-card__stops" xs-order="1">
        <strong>Nonstop</strong>
      </div>
    </div>

    <div class="n-flight-card__price" xs-order="5">
      <strong>80E</strong>
      <sub>Hin- und Rücklug</sub>
    </div>

    <img src="/assets/icons/bootstrap.svg" alt="Bootstrap"
         class="n-flight-card__action material-icons n-flight-card__action--fav"  flex="nogrow" layout xs-order="2">

<!--        <div class="n-flight-card__action material-icons n-flight-card__action&#45;&#45;saved" flex="nogrow" layout xs-order="2"></div>-->
  </div>
</article>

<article class="n-card n-card--external n-card--flight n-flight-card" layout="row">
  <div class="n-card__image-holder">
    <img  src="/assets/icons/bootstrap.svg" alt="Bootstrap" class="n-card__image img-responsive" flex="nogrow" />
  </div>

  <div class="n-card__body" layout="row nowrap" xs-layout="row wrap" flex>
    <div class="n-flight-card__flight-schedule" flex="auto" xs-order="1">
      <strong>08:45 - 09:55</strong>
      <sub>Lufthansa - Lufthansa CityLine</sub>
    </div>

    <div layout="row reversed" xs-layout="column" xs-flex flex="nogrow" layout-align="space-around" xs-order="4">
      <div class="n-flight-card__duration" xs-order="2">
        <strong>1h 10min</strong>
        <sub class="hidden-xs">MUn-BER</sub>
      </div>

      <div class="n-flight-card__stops" xs-order="1">
        <strong>Nonstop</strong>
      </div>
    </div>

    <div class="n-flight-card__price" xs-order="5">
      <strong>80E</strong>
      <sub>Hin- und Rücklug</sub>
    </div>

    <img src="/assets/icons/bootstrap.svg" alt="Bootstrap"
         class="n-flight-card__action material-icons n-flight-card__action--fav" flex="nogrow" layout xs-order="2">
  </div>
</article>
